1. Imporing Data

In [1]:
import pandas as pd

# Data dari tabel
data = [
    100, 150, 50, 100, 130, 
    120, 100, 85, 70, 150,
    150, 120, 50, 100, 100,
    140, 90, 150, 50, 90,
    120, 100, 110, 75, 65
]

# Membuat DataFrame
df = pd.DataFrame(data, columns=['TransactionAmount'])

# Tampilkan DataFrame
print(df)

    TransactionAmount
0                 100
1                 150
2                  50
3                 100
4                 130
5                 120
6                 100
7                  85
8                  70
9                 150
10                150
11                120
12                 50
13                100
14                100
15                140
16                 90
17                150
18                 50
19                 90
20                120
21                100
22                110
23                 75
24                 65

#Artinya:
#1.	pd.DataFrame(...) memanggil fungsi dari pandas untuk membuat sebuah DataFrame (struktur data mirip tabel: ada baris dan kolom, seperti Excel).
#2.	data  adalah isi datanya, misalnya daftar angka [100, 150, 50, ...]. Itu nanti jadi baris-baris DataFrame.
#3.	columns=['TransactionAmount'] memberi nama kolom pada DataFrame. Karena kita cuma punya satu kolom, namanya jadi 'TransactionAmount'.
#4.	df = ...  hasil DataFrame disimpan ke variabel bernama df, supaya bisa dipakai lagi nanti (misalnya ditampilkan, dianalisis, dihitung rata-rata, dll)#

2. Descriptive Statistics

In [2]:
mean_val = df['TransactionAmount'].mean()
median_val = df['TransactionAmount'].median()
mode_val = df['TransactionAmount'].mode()[0]  # ambil modus pertama

print("Mean   :", mean_val)
print("Median :", median_val)
print("Mode   :", mode_val)

Mean   : 102.6
Median : 100.0
Mode   : 100

3. Measure of variability

In [4]:
range_val = df['TransactionAmount'].max() - df['TransactionAmount'].min()
variance_val = df['TransactionAmount'].var()   # sample variance
std_dev_val = df['TransactionAmount'].std()   # sample std deviation
q1 = df['TransactionAmount'].quantile(0.25)
q3 = df['TransactionAmount'].quantile(0.75)
iqr_val = q3 - q1

print("Range               :", range_val)
print("Variance            :", variance_val)
print("Standard Deviation  :", std_dev_val)
print("Q1 (25th percentile):", q1)
print("Q3 (75th percentile):", q3)
print("Interquartile Range :", iqr_val)

Range               : 100
Variance            : 1012.7499999999997
Standard Deviation  : 31.82373328193912
Q1 (25th percentile): 85.0
Q3 (75th percentile): 120.0
Interquartile Range : 35.0

4. Inferential Statistics

In [5]:
import pandas as pd
from scipy import stats

# Nilai rata-rata sebelumnya
mu_test = 100

# One-sample T-Test (two-tailed)
t_stat, p_value_two_tailed = stats.ttest_1samp(df['TransactionAmount'], mu_test)

# Ubah menjadi one-tailed (karena H1: mu > 100)
p_value_one_tailed = p_value_two_tailed / 2 if t_stat > 0 else 1 - (p_value_two_tailed / 2)

print("T-Statistic :", t_stat)
print("P-Value (one-tailed) :", p_value_one_tailed)

# Kesimpulan
alpha = 0.05
if p_value_one_tailed < alpha:
    print("Tolak H0 → training meningkatkan rata-rata transaksi")
else:
    print("Gagal tolak H0 → tidak ada bukti training meningkatkan rata-rata transaksi")

T-Statistic : 0.4085001556802841
P-Value (one-tailed) : 0.34326424067190586
Gagal tolak H0 → tidak ada bukti training meningkatkan rata-rata transaksi

5. Conclusion

Based on the results of the one-sample t-test, the resulting p-value is 0.343. This value is greater than the established significance level (alpha), which is 0.05.

Therefore, we fail to reject the null hypothesis (H0). This means there is insufficient statistical evidence to suggest that the training significantly increased the average number of transactions. Although the average number of transactions may have increased slightly, this change is most likely due to random factors, not the direct influence of the training.